<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteProductosCarrito">
  <test thread-count="5" name="TestCarrito">
    <classes>
      <class name="com.sapiensschool.automatizacion.CodigoBase"/>
    </classes>
  </test> <!-- TestCarrito -->
</suite> <!-- SuiteProductosCarrito -->
